.logo{
  font-family: 'Great Vibes', cursive;

}

.icons{
  color: rgb(0, 0, 0)!important;
}

.icons:hover{
  color: red!important;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 14px;
  display: block;
  font-size: 13px;
}

.dropdown-content a:hover {
  color:gray!important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

