.logo{
  font-family: 'Great Vibes', cursive;

}

.icons{
  color: rgb(0, 0, 0)!important;
}

.icons:hover{
  color: red!important;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 14px;
  display: block;
  font-size: 13px;
}

.dropdown-content a:hover {
  color:gray!important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search{

  margin-top: -70px;
  margin-left: 10px;
}


input[type='email'],
input[type='search'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='text'],
input[type='password'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  /* Removing the inner shadow on iOS inputs */
}

.search {
  width: 100%;
  max-width: 100%;
  border: 1px solid #E6E6E6;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  padding: 0 15px;
  height: 45px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.search:focus
{
  outline: none;
  border-color: #F86B73;
}
