<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm p-lg-4">
  <div class="container">
    <a class="navbar-brand  text-success fs-5 fw-bold" [routerLink]="['#']" routerLinkActive="router-link-active">
      <img src="../../../../assets/images/—Pngtree—3d supermarket trolly out of_8416063.png" alt="" class="logo"
        width="70" height="70">
      <span class="logo fs-3 text-danger">bestBargain</span>
    </a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-lg-4" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active">Home</a></li>
        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active">Home</a></li>
        <li class="nav-item mx-lg-4" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active">Home</a></li>
        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active">Home</a></li>
      </ul>
      <!-- icons -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-lg-4" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"><span class="material-symbols-outlined text-danger">
              person</span></a>
        </li>

        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"><span class="material-symbols-outlined">search</span></a></li>

        <li class="nav-item mx-lg-4" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"> <span class="material-symbols-outlined"> favorite</span></a></li>

        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"><span class="material-symbols-outlined">shopping_cart</span></a></li>
      </ul>


    </div>
  </div>
</nav>
