<!-- <app-navbar></app-navbar> -->

<div class="container-fluid m-0">
  <div class="card border-0">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let display of displayAllProducts">
        <img hover class="card-img-top" src="{{display.image}}" alt="image">
        <div class="card-body text-lg-start">
          <h5 class="card-title mb-0 fs-6">{{display.title | slice:0:40}}</h5>
          <p class="card-text mt-0 mb-0">{{display.description | slice:0:60}}...</p>
          <p class="card-text mt-0 fw-bolder">{{"$"}}{{display.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
