.card-img-top{
  height: 110px!important;
  width: 110px!important;
}
.hero-image{
  background-color: rgb(248, 221, 229)!important;
}

.slider-image{
height: 20%!important;
}
.carousel-caption{
  margin-bottom: 200px!important;
  margin-left: 280px!important;
  // text-align: center!important;
}

h4,p,h6,h5{
  font-family: 'Quicksand', sans-serif;
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.cards{
    transition: transform .2s;
    cursor: pointer;
}
.cards:hover{
    transform: scale(1.05);

}
