<!-- carousel -->
<app-header></app-header>
<div class="container-fluid m-0 p-0">
  <div class="hero-image">
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="../../../../assets/images/carosel-image1.png" class="d-block slider-image" alt="image">
          <div class="carousel-caption  float-md-start float-sm-start text-start">
            <h5 class="fs-3 text-dark tracking-in-expand text-focus-in">Best Selling!</h5>
            <p class="fs-1 fw-bolder text-dark tracking-in-expand">Shop More, Get More.</p>
            <p class="fs-6 text-dark opacity-75 text-focus-in">Lorem ipsum is placeholder text commonly
              used in the graphic, print,
              and publishing industries for previewing layouts and visual mockups.</p>
            <div class="">
              <button type="button"
                class="btn btn-primary btn-md me-2 bg-transparent border-dark text-dark rounded-0 mb-sm-2">SHOP
                NOW</button>
              <button type="button" class="btn btn-dark btn-md rounded-0  mb-sm-2">DISCOVERY</button>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <img src="../../../../assets/images/image2.png" class="d-block slider-image" alt="image">
          <div class="carousel-caption d-none d-md-block text-start">
            <h5 class="fs-3 text-dark tracking-in-expand text-focus-in">Best Selling!</h5>
            <p class="fs-1 fw-bolder text-dark focus-in-contract-bck">Women Fashion.</p>
            <p class="fs-6 text-dark opacity-75 text-focus-in">Lorem ipsum is placeholder text commonly
              used in the graphic, print,
              and publishing industries for previewing layouts and visual mockups.</p>
            <div class="">
              <button type="button"
                class="btn btn-primary btn-md me-2 bg-transparent border-dark text-dark rounded-0 ">SHOP
                NOW</button>
              <button type="button" class="btn btn-dark btn-md rounded-0">DISCOVERY</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/men.png" class="d-block slider-image" alt="image">
          <div class="carousel-caption d-none d-md-block text-start">
            <h5 class="fs-3 text-dark tracking-in-expand text-focus-in">Best Selling!</h5>
            <p class="fs-1 fw-bolder text-dark focus-in-contract-bck">Men Fashion</p>
            <p class="fs-6 text-dark opacity-75 text-focus-in">Lorem ipsum is placeholder text commonly
              used in the graphic, print,
              and publishing industries for previewing layouts and visual mockups.</p>
            <div class="">
              <button type="button"
                class="btn btn-primary btn-md me-2 bg-transparent border-dark text-dark rounded-0">SHOP NOW</button>
              <button type="button" class="btn btn-dark btn-md rounded-0">DISCOVERY</button>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- category -->
<div class="container mt-5">
  <div class="row p-3">
    <div class="col-sm-6 col-lg-3 mt-3">
      <div class="card bg-light border-0 rounded-0 shadow-sm">
        <a class="text-decoration-none text-dark" href="/">
          <div class=" d-flex justify-content-center">
            <img src="../../../../assets/images/mens-wear.png" class="w-75 h-75" alt="image">
          </div>
          <div class="card-body text-center mens-wear bg-white">
            <h5 class="card-title fw-bolder fs-6  p-2 mens-wear ">MEN'S FASHION</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mt-3">
      <div class="card bg-light border-0 rounded-0 shadow-sm">
        <a class="text-decoration-none text-dark" href="/">
          <div class=" d-flex justify-content-center">
            <img src="../../../../assets/images/women-wear.png" class="w-75 h-75" alt="image">
          </div>
          <div class="card-body text-center bg-white">
            <h5 class="card-title fw-bolder fs-6 p-2">WOMEN'S FASHION</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mt-3">
      <div class="card bg-light border-0 rounded-0 shadow-sm">
        <a class="text-decoration-none text-dark" href="/">
          <div class=" d-flex justify-content-center">
            <img src="../../../../assets/images/electronics.png" class="w-75 h-75" alt="image">
          </div>
          <div class="card-body text-center bg-white">
            <h5 class="card-title fw-bolder fs-6 p-2">ELECTRONICS</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mt-3">
      <div class="card bg-light border-0 rounded-0 shadow-sm">
        <a class="text-decoration-none text-dark" href="/">
          <div class=" d-flex justify-content-center">
            <img src="../../../../assets/images/jewellery2.png" class="w-75 h-75 jewellery" alt="image">
          </div>
          <div class="card-body text-center bg-white">
            <h5 class="card-title fw-bolder fs-6 p-2">JEWELRY</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- products -->
<div class="container-fluid bg-light mt-4">
  <div class="container">
    <div class="row m-0 d-flex justify-content-center">
      <div id="overlay" class="item-container card border-0 col-lg-3 col-md-5 col-sm-5 p-sm-3 p-2 mb-3 shadow-sm m-2"
        *ngFor="let item of displayAllProducts">
        <div class="text-center">
          <img class="card-img-top image" src="{{item.images[0]}}" alt="image">
          <div class="middle">
            <div class="overlay mb-5 d-flex">

              <!-- route to shopping cart -->
              <a class="btn p-0" (click)="addToCart(item)">
                <span class="material-symbols-outlined ">
                  shopping_cart
                </span>
              </a>

              <!-- Button trigger modal -->
              <a class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewSingleItem(item)">
                <span class="material-symbols-outlined">
                  zoom_in
                </span>
              </a>

            </div>
          </div>
        </div>
        <div class="card-body text-lg-center">
        </div>
        <h5 class="card-title mb-0 fs-6 opacity-75 text-start">{{item.title}}</h5>
        <span class="card-text mt-0 text-success fw-bold">{{"$"}}{{item.price}}</span>
      </div>
    </div>
  </div>
</div>

<!--item Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product</h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex shadow-sm mb-3 p-5 bg-white" *ngFor="let item of displaySingleItem">
          <div class=" flex-shrink-0">
            <img class="card-img-top image" src="{{item.images[0]}}" alt="image">
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="card-title mb-0 fs-6 opacity-75">{{item.title}}</h5>
            <h5 class="card-title mb-0 fs-6 opacity-75 text-start">{{item.description}}</h5>
            <span class="card-text mt-0 text-success fw-bold">{{"$"}}{{item.price}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- trend design -->
<div class="container-fluid trend">
  <div class="row ">
    <div class="col-lg-6 d-flex justify-content-center align-items-center p-0">
      <div class="p-5">
        <h4 class="fs-4 fw-bold">Trend Design</h4>
        <p class="fs-1 mb-0 fw-bolder">NEW COLLECTIONS 2023</p>
        <h4 class="fs-5">New Arrival <span class="text-danger">Sale 30% Off</span>Limited Time Offer</h4>
        <button type="button" class="btn btn-dark btn-md rounded-0">DISCOVER NOW</button>
      </div>

    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center p-0">
      <img src="../../../../assets/images/new-trend2.png" class="" alt="image">
    </div>
  </div>
</div>

<!-- deliveries -->
<div class="container-fluid bg-light ">
  <div class="row p-5">
    <div class="col-sm-4 col-lg-4 mb-4 p-lg-5">
      <div class=" text-center">
        <img src="../../../../assets/images/globe.png" class="delivery mb-3" alt="image">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-2">DELIVERY WORLDWIDE</h5>
          <p class="card-text">We guarantee that the items you are going to buy will
            be delivered to you in less than 48 hours.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-4 mb-4 p-lg-5">
      <div class="text-center">
        <img src="../../../../assets/images/product-return.png" class="delivery mb-3" alt="image">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-2">RETURN EXCHANGE</h5>
          <p class="card-text">We guarantee payment term for customers up to
            30 days from the receipt of goods.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-4 mb-4 p-lg-5">
      <div class="text-center">
        <img src="../../../../assets/images/telephone.png" class="delivery mb-3" alt="image">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-2">RETURN EXCHANGE</h5>
          <p class="card-text">We love our customers and they can reach us any time
            of day we will be at your service 24/7.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
