<nav class="navbar navbar-expand-lg navbar-light  fixed-top bg-white shadow-sm p-lg-3">
  <div class="container">
    <a class="navbar-brand text-sm-center  text-success fs-5 fw-bold" [routerLink]="['/product/list']"
      routerLinkActive="router-link-active">
      <img src="../../../../assets/images/—Pngtree—3d supermarket trolly out of_8416063.png" alt="" class="logo"
        width="70" height="70">
      <span class="logo fs-3 text-danger text-focus-in fw-bold">bestBargain</span>
    </a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngFor="let item of menuItems">
          <li class="nav-item mx-lg-5" id="hover-underline-animation"><a class="nav-link" [routerLink]="['/']"
              routerLinkActive="router-link-active">Home</a></li>
        </ng-container>
      </ul>

      <!-- icons -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"><span
              class="material-symbols-outlined icons dropbtn">person</span></a>

          <div class="dropdown-content shadow-sm slide-in-top p-2">
            <a class="nav-link text-dark text-decoration-none" [routerLink]="['login']"
              routerLinkActive="router-link-active">Login</a>
            <a class="nav-link text-dark text-decoration-none" href="#">Register</a>
          </div>
        </li>

        <li class="nav-item dropdown"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active"><span
              class="material-symbols-outlined icons dropbtn">search</span></a>
          <div class="dropdown-content shadow-sm slide-in-top ">
            <div class="d-flex align-items-center border-0 shadow-sm">
              <button class="bg-transparent border-0 mt-2">
                <span class="material-symbols-outlined icons dropbtn">search</span>
              </button>
              <input class="form-control shadow-none border-0 bg-body py-3 search" placeholder="Search"
                formControlName="password">
            </div>
          </div>
        </li>

        <li class="nav-item position-relative"><a class="nav-link" [routerLink]="['/']"
            routerLinkActive="router-link-active">
            <span class="material-symbols-outlined icons">favorite</span>
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">0
              <span class="visually-hidden">unread messages</span>
            </span>
          </a>
        </li>

        <li class="nav-item position-relative"><a class="nav-link" [routerLink]="['/product/allCart']"
            routerLinkActive="router-link-active">
            <span class="material-symbols-outlined icons">shopping_cart</span>
            <span class="position-absolute  translate-middle badge rounded-pill bg-danger">{{totalItem}}
              <!-- <span class="visually-hidden">unread messages</span> -->
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
