<!-- <app-header></app-header> -->
<div *ngIf="products.length !=0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex shadow-sm" *ngFor="let item of displayCarts">
          <div class="flex-shrink-0">
            <img class="card-img-top image" src="{{item.images}}" alt="image">
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="card-title mb-0 fs-6 opacity-75">{{item.title}}</h5>
            <span class="card-text mt-0 text-success fw-bold">{{"$"}}{{item.price}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div *ngIf="products.length ===0">
  <div class="container-fluid m-0 p-0 d-flex justify-content-center align-items-center vh-100">
    <div class="m-0 p-0">
      <div class="cart text-center">
        <img src="../../../../../assets/images/shopping_cart_shopping.png" alt="image" class="w-50 h-50">
      </div>
      <div class="card-body text-center">
        <h4 class="fw-bolder">Shopping Cart Is Empty!</h4>
        <a class="btn btn-primary shadow-none" type="button" [routerLink]="['/product/list']"
          routerLinkActive="router-link-active">Shop Now</a>
      </div>
    </div>
  </div>
</div>
