h4,p,h6,h5{
  font-family: 'Quicksand', sans-serif;
}

.card-img-top{
  // height: 120px!important;
  width: 120px!important;
}

.icons{
  color: rgb(248, 8, 8)!important;
}

.icons:hover{
  color: red!important;
}

// .quantity{
//   width: 35px;
//   height: 40px;
// }

.returnToProducts{
  color: green!important;
}

.emptyCart{
  color: red!important;
}
