<app-header></app-header>
<div *ngIf="products.length !=0">
  <div class="container-fluid bg-light">
    <div class="container bg-light">
      <div class="row">
        <div class="col-lg-7 p-3">
          <!-- return to shop -->
          <div class="d-flex justify-content-between">
            <a class="btn d-flex returnToProducts border-0 shadow-none" type="button" [routerLink]="['/product/list']"
              routerLinkActive="router-link-active">
              <span class="material-symbols-outlined">
                keyboard_backspace
              </span>
              <span>Continue Shopping</span>
            </a>
            <a class="btn d-flex emptyCart border-0 shadow-none" type="button" [routerLink]="['/product/list']"
              routerLinkActive="router-link-active">
              <span class="material-symbols-outlined ">
                delete
              </span>
              <span>Empty Shopping Cart</span>
            </a>

          </div>

          <div class="d-flex shadow-sm mb-3 p-5 bg-white" *ngFor="let item of products; let i = index">
            <div class="flex-shrink-0">
              <img class="card-img-top image" src="{{item.images[0]}}" alt="image">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="card-title mb-0 fs-6 opacity-75">{{item.title}}</h5>
              <h5 class="card-title mb-0 fs-6 opacity-75 text-start">{{item.description}}</h5>
              <span class="card-text mt-0 text-success fw-bold">{{"$"}}{{item.price}}</span>
            </div>
            <!-- <div class="d-flex justify-content-end align-items-start border-0">
              <button type="button" class="btn btn-primary btn-sm me-2 p-0 decrease">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </button>

              <input class="quantity shadow-none result " type="number" placeholder="">

              <button type="button" class="btn btn-primary ms-2 p-0 btn-sm increase">
                <span class="material-symbols-outlined">
                  add
                </span>
              </button>
            </div> -->
            <div class="d-flex justify-content-end align-items-end border-0">
              <span (click)="removeFromCart(item)" type="button" class="icons border-0"><span
                  class="material-symbols-outlined">
                  delete
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 p-5">
          <div class="card border-0 p-2 shadow-sm">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">CART SUMMARY</th>
                  <th scope="col">QUANTITY</th>
                  <th scope="col">PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <!-- <th scope="row"></th> -->
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="products.length ===0">
  <div class="container-fluid m-0 p-0 d-flex justify-content-center align-items-center ">
    <div class="m-0 p-0">
      <div class="cart text-center">
        <img src="../../../../../assets/images/shopping_cart_shopping.png" alt="image" class="w-50 h-50">
      </div>
      <div class="card-body text-center">
        <h4 class="fw-bolder">Shopping Cart Is Empty!</h4>
        <a class="btn btn-primary shadow-none" type="button" [routerLink]="['/product/list']"
          routerLinkActive="router-link-active">Shop Now</a>
      </div>
    </div>
  </div>
</div>
