<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mt-3 text-center p-0">
      <img src="./../../../../../assets/images/—Pngtree—3d supermarket trolly out of_8416063.png" alt="logo"
        width="90px" height="80px">
      <span class="logo fs-3 text-danger text-focus-in logo fw-bold">bestBargain</span>

      <div class="text bg-light p-5 my-2">
        <h4 class="fw-bold">What's your email address?</h4>
        <p>Type your Email and Password to login your bestBargain account.</p>
      </div>
    </div>
    <div class="col-12 text-center m-0" style="width: 35rem;">
      <form class="mt-3">
        <!-- email address input -->
        <div class="form-group mb-3">
          <input class="form-control shadow-none p-3" type="email" id="email" placeholder="Email Address"
            formControlName="email">
        </div>
        <!-- password input -->
        <div class="form-group">
          <input class="form-control shadow-none p-3" type="password" id="password" placeholder="Enter Password"
            formControlName="password">
        </div>
        <!-- button -->
        <app-button [text]="'login'" [buttonClass]="'btn-danger'"></app-button>
        <app-button [text]="'login in with gmail'" [buttonClass]="'btn-danger disabled'"></app-button>
        <img class="mail" src="../../../../../assets/images/gmail (1).png" width="30" height="30" alt="">
        <div class="register text-start">
          <p class="mb-2">Don't have an account?
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active"
              class="text-decoration-none text-success fw-bold"> Sign Up</a>
          </p>
          <p><a [routerLink]="['/signup']" routerLinkActive="router-link-active"
              class="text-decoration-none text-success fw-bold">Forgotten Password?</a>
          </p>
        </div>
      </form>
    </div>
  </div>


</div>
