.togglePassword{
  margin-top: -50px;
  padding: 10px;
}
h4,p,h6{
  font-family: 'Quicksand', sans-serif;
}

ul,li{
  list-style: none;
}

// footer
.socialsLogo:hover{
  transform: scale(1.2);
}
.socialsLogo{
  transition: transform .2s;
}
