 <!-- socials -->
 <div class="container">
   <div class="row">
     <div class="col socials">
       <!-- <ul class="text-decoration-none d-flex justify-content-center opacity-75">
         <li class="text-decoration-none">
           <a [routerLink]="['/#']">
             <img src="../../../../../assets/images/facebook (1).png" width="25" height="25" alt="" class="socialsLogo">
           </a>
         </li>
         <li class="mx-3">
           <a [routerLink]="['/#']">
             <img src="../../../../../assets/images/instagram (1).png" width="25" height="25" alt=""
               class="socialsLogo">
           </a>
         </li>
         <li class="mx3">
           <a [routerLink]="['/#']">
             <img src="../../../../../assets/images/telegram (1).png" width="25" height="25" alt="" class="socialsLogo">
           </a>
         </li>
         <li class="mx-3">
           <a [routerLink]="['/#']">
             <img src="../../../../../assets/images/twitter-sign.png" width="25" height="25" alt="" class="socialsLogo">
           </a>
         </li>
       </ul> -->
     </div>
   </div>
 </div>
