<!-- logo header -->
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mt-3 text-center p-0">
      <img src="./../../../../../assets/images/—Pngtree—3d supermarket trolly out of_8416063.png" alt="logo"
        width="90px" height="80px">
      <span class="logo fs-3 text-danger text-focus-in logo fw-bold">bestBargain</span>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- socials -->
  <ul class="text-decoration-none d-flex justify-content-center opacity-75 mt-3">
    <li class="text-decoration-none">
      <a [routerLink]="['/#']">
        <img src="../../../../../assets/images/facebook (1).png" width="24" height="24" alt="" class="socialsLogo">
      </a>
    </li>
    <li class="mx-3">
      <a [routerLink]="['/#']">
        <img src="../../../../../assets/images/instagram (1).png" width="24" height="24" alt="" class="socialsLogo">
      </a>
    </li>
    <li class="mx3">
      <a [routerLink]="['/#']">
        <img src="../../../../../assets/images/telegram (1).png" width="24" height="24" alt="" class="socialsLogo">
      </a>
    </li>
    <li class="mx-3">
      <a [routerLink]="['/#']">
        <img src="../../../../../assets/images/twitter-sign.png" width="25" height="25" alt="" class="socialsLogo">
      </a>
    </li>
  </ul>
